@import play.api.mvc.MessagesRequestHeader
@import play.api.mvc.Flash
@import play.api.data.Forms._
@import play.api.data.Form
@import helper._
@import helper.CSRF

@(category: Form[UpdateCategoryForm])(implicit request: MessagesRequestHeader, flash: Flash)


@main("Sklep - projekt") {

    @form((routes.CategoryController.updateCategoryHandle)) {

    @helper.CSRF.formField
    <input name="id" id="id" value="@category("id").value" type="hidden" />
    @inputText(category("name"))
    @inputText(category("description"))

    <div class="buttons">
        <input type="submit" value="Aktualizuj"/>
    </div>
    }
}


