@import play.api.mvc.MessagesRequestHeader
@import play.api.mvc.Flash
@import play.api.data.Forms._
@import play.api.data.Form

@(ptu: Form[CreatePTUForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._
@helper.CSRF.formField


@main("Sklep - projekt") {



@form(helper.CSRF(routes.PTUController.addPTUHandle)) {
<h3 class="info">Dodaj typ VAT"</h3>
@inputText(ptu("name"))
@inputText(ptu("value"))

  <div class="buttons">
    <input type="submit" value="Dodaj typ podatku vat"/>
  </div>
  }
}
