@(stocks: Seq[(Stock, Product, Size)])(implicit flash: play.api.mvc.Flash)

@main("Sklep - projekt") {
<h3 class="info">@flash.get("success").getOrElse("Skład magazynu - rozwinięcie wartości kluczy")</h3>

<table class="produkty">
    <thead>
    <tr>
        <th>id</th>
        <th>Produkt</th>
        <th>Opis produktu</th>
        <th>Rozmiar EU</th>
        <th>Sztuk</th>
        <th colspan="2">Akcja</th>
    </tr>
    </thead>
    <tbody>
    @for(stock <- stocks) {
        @if(stock._1.pieces > 0) {
        <tr>
            <td>@stock._1.id</td>
            <td>@stock._2.name</td>
            <td style="font-size: 0.8em">@stock._2.description</td>
            @if(stock._3.size <= 0) {
            <td>-</td>
            }else {
            <td>@(stock._3.size/10.0)</td>
            }
            <td style="font-size: 2.0em">@stock._1.pieces</td>
    <!--        <td> <a href=@routes.StockController.updateStock(stock._1.id)>Aktualizuj</a></td>-->
            <td> <a href=@routes.StockController.delStockOnePiece(stock._1.id)>Usuń sztukę</a></td>
            <td> <a href=@routes.StockController.delStock(stock._1.id)>Usuń pozycję</a></td>
        </tr>
        }
    }
    </tbody>
</table>
}



